.App {
  text-align: center;
}

.libro {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.libro form {
  margin-top: 10px;
}

.libro label {
  margin-right: 10px;
}

.lista-libros {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
